@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}


.App-contents {
  position: 'absolute';
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)';
  flex: 1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 1000px; */
}